@import './reset';
@import './variables/global';
@import './themes/dark';
@import './themes/light';

body {
  font: var(--font-m);

  background-color: var(--bg-secondary);
  color: var(--text-secondary);

  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
