.cell {
  width: calc(100% / 8);
  height: calc(100% / 8);
}

.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}
.orange {
  background-color: orange;
}
.purple {
  background-color: purple;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
.white {
  background-color: white;
}