body.dark {
  --primary: #EFFF04;
  --secondary: #242424;
  --grey: #979797;

  --text-primary: #111111;
  --text-secondary: #979797;
  --text-yellow: #979797;

  --bg-primary: #EFFF04;
  --bg-secondary: #242424;
}