body.dark {
  --primary: #efff04;
  --secondary: #242424;
  --grey: #979797;

  --text-primary: #242424;
  --text-secondary: #efff04;
  --text-hint: #979797;

  --bg-primary: #efff04;
  --bg-primary-hover: #f7ff8b;
  --bg-secondary: #242424;
  --bg-secondary-hover: #545454;

  --shadow-primary: #252525;

  --border-primary: #efff04;
  --border-secondary: #242424;
}
