body.light {
  --primary: #3786FB;
  --secondary: #E6F1FF;
  --grey: #CCCDD0;

  --text-primary: #E6F1FF;
  --text-secondary: #3786FB;
  --text-hint: #4D515B;
  --text-error: #dc5151;
  
  --bg-primary: #3786FB;
  --bg-primary-hover: #1d77ff;
  --bg-secondary: #E6F1FF;
  --bg-secondary-hover: #c9e0ff;

  --shadow-primary: #323232;

  --border-primary: #3786FB;
  --border-secondary: #E6F1FF;
  --border-error: #dc5151;

}