body.light {
  --primary: #3786FB;
  --secondary: #E6F1FF;
  --grey: #CCCDD0;

  --text-primary: #E6F1FF;
  --text-secondary: #3786FB;
  --text-hint: #4D515B;
  
  --bg-primary: #3786FB;
  --bg-secondary: #E6F1FF;
  --bg-primary-hover: #1d77ff;

  --shadow-primary: #323232;
}