.container {
  position: relative;
  padding: 5px;
  display: flex;
  align-items: center;
  border-radius: 7px;
  border: 1px solid transparent;

  &.contained {
    background-color: var(--bg-primary);
    color: var(--text-primary);
    border-color: var(--border-secondary);

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 30px var(--bg-primary) inset !important;
      box-shadow: 0 0 0 30px var(--bg-primary) inset !important;
      -webkit-text-fill-color: var(--text-primary) !important;
      border: 1px solid var(--text-primary);
    }

    .textarea::-webkit-resizer {
      fill: var(--text-primary);
      background-image: url(./assets/resize_arrow.svg);
    }
  }

  &.outlined {
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
    border-color: var(--border-primary);

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 30px var(--bg-secondary) inset !important;
      box-shadow: 0 0 0 30px var(--bg-secondary) inset !important;
      -webkit-text-fill-color: var(--text-secondary) !important;
      border: 1px solid var(--text-primary);
    }

    .textarea::-webkit-resizer {
      border-bottom: 2px solid var(--text-secondary);
      border-right: 2px solid var(--text-secondary);
      border-bottom-right-radius: 4px;
    }
  }

  &.error {
    border-color: var(--border-error);
    & .label {
      color: var(--text-error);
    }
  }
}

.label {
  transition: all 300ms;
}

.textarea {
  padding: 0 8px;
  width: 100%;
  flex-grow: 1;
  border: none;
  outline: none;
  background-color: transparent;
  color: inherit;
  resize: vertical;
}

.textarea ~ .label {
  position: absolute;
  top: 2px;
  left: 0;
  transition: all 300ms;
  transform: translate(10px, 0);
}

.textarea:focus ~ .label,
.textarea:not(:placeholder-shown) ~ .label {
  font-size: 12px;
  transform: translate(4px, -25px);
}
