.button {
  border: none;
  border-radius: 50%;
  background: transparent;
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  transition: background-color 200ms;
}

.primary {
  background-color: var(--bg-primary);
  & > * {
    color: var(--text-primary);
    fill: var(--text-primary);
  }
  &:hover {
    background-color: var(--bg-primary-hover);
  }
}

.secondary {
  background-color: var(--bg-secondary);
  & > * {
    color: var(--text-secondary);
    fill: var(--text-secondary);
  }
  &:hover {
    background-color: var(--bg-secondary-hover);
  }
}